.feedback {
    padding-top: 51px;
    padding-bottom: 65px;
}
.container__slider {
    width: 1300px;
    position: relative;
    margin: 0 auto;
}
.slider {
    text-align: center;
    position: relative;
    width: 700px;
    margin: 0 auto; 
    margin-top: 31px;
    &__wrapper { 
        margin: 0 auto;
        max-width: 360px;
    }
    &__item {
        position: relative;
        // margin-left: 10px;
        // margin-right: 10px;
        width: 360px;
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__title {
        margin-top: 18px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        color: #3a3a3a;
    }
    &__subtitle {
        margin-top: 5px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        color: #3a3a3a;
    }
}



    .prev, .next {   /* для Слик слайдера .slick_prev */
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;
        border: 0;
        background-color: white;
        outline: none;
        background: transparent;
        img{
           width: 30px;
           height: 50px; 
        }
    }
    .next {
        right: -5px;
        left: auto;
    }
   